{% extends 'base.html' %}

{% load static %}
{% block css_style %}
<style>
    .container{
        display:block;
        margin:auto;
        width:35%;
        border-radius: 2rem;
        backdrop-filter: blur(100px);
        padding:1rem;
        background-image:linear-gradient(rgba(0,0,200, 0.2), rgba(225,225,225, 0.2));
        margin-top:3rem;
        height:22rem;
        overflow:auto;
    }
    .container::-webkit-scrollbar {
        display: none;
      }
    .form-field{
        color:red;
    }
    .zoom{
        transition: transform .6s;     
    }
    .zoom:hover {
        transform: scale(1.1);
        box-shadow: 30px 30px 25px rgb(138, 117, 143,0.25);
            }
    
    .btns{
      background-color:rgb(138, 88, 252);
      color:rgba(220,220,220,1);
      border-radius:2rem;
      border:2rem;
      margin-left:1rem;
      height :2rem;
      padding:0.5rem;
      text-decoration:none;
    }
</style>

{%endblock%}

{% block content %}

<form action="{% url 'add_song' %}" class="container" enctype = "multipart/form-data" method="POST">
    <h1 style="text-align:center">Add Tracks</h1>
    {% csrf_token %}
    {{form.as_p}}

    <button class="btns zoom" type = 'submit'> Add Song </button>
</form>
{% endblock %}